@media (orientation: landscape) {
    .tagline {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: none 7px;
        border-radius: 20px;
        padding: 20px;
    }

    .navPortraitButton {
        display: none;
    }

    .navLandscape {
        display: flex;
        width: auto;
        background-color: blue;
        flex-direction: row;
        justify-content: space-between;
    }

    .anchor-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

@media (orientation: portrait) {
    .tagline {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        border: none 7px;
        border-radius: 20px;
        padding: 20px;
    }

    .navPortraitButton {
        display: flex;
        flex-direction: column;
    }

    .navLandscape {
        display: none;
    }

    button {
        padding: 10px;
        background-color: #28a745;
        color: white;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
    }

    button:hover {
        background-color: #218838;
    }
}

body {
    background-color: beige;
}

.js-enabled {
    display: none;
}

.hidden {
    display: none;
}

#navClosureButton {
    margin: 10px 0 10px 10px;
}

.navItem {
    background-color: gold;
    margin: 10px;
    padding: 10px;
    text-align: center;
    flex-basis: 20%;
}

.navItem:hover {
    background-color: darkgoldenrod;
    transform: scale(1.05);
}

.body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.phrase {
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 1.5em;
    color: #333;
    background-color: white;
    border: solid 2px #007BFF;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
    font-weight: bold;
    color: rgb(16, 194, 16);
}

#phrase-a {
    color: rgb(16, 194, 16);
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}